body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(170, 255, 170),rgb(0, 255, 0)) ;
    color: #000000;
    margin: 0;
    padding: 20px;
    
}
header {
    text-align: center;
    padding: 20px;
    color: #000000;
}
h2 {
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
    font-size: xx-large;
}


.info-box {
    display: none;
    margin-top: 10px;
    padding: 15px;
    background-color: #c8e6c9;
    border-radius: 8px;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
footer {
    text-align: center;
    margin-top: 20px;
}
body {
    font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
font-weight: normal;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 182.4px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 181.55px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 165px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
